<h1>Errors has occurred:</h1>
<% if @likes.length == 0 %>
    <p>@likes.length = 0</p>
<% elsif @friends.length = 0 %>
    <p>@likes.length = 0</p>
<% elsif @photos.length = 0 %>
    <p>@photos.length = 0</p>
<% end %>